body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalogo img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.mensaje {
  padding: 20px;
}

.mensaje input[type="text"], .mensaje button {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
