.dark-mc {
  --md-sys-color-primary: rgb(255 207 235);
  --md-sys-color-surface-tint: rgb(248 177 221);
  --md-sys-color-on-primary: rgb(66 19 54);
  --md-sys-color-primary-container: rgb(189 125 166);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(244 211 229);
  --md-sys-color-on-secondary: rgb(51 32 44);
  --md-sys-color-secondary-container: rgb(165 137 153);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 211 193);
  --md-sys-color-on-tertiary: rgb(62 28 12);
  --md-sys-color-tertiary-container: rgb(185 133 109);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(24 17 21);
  --md-sys-color-on-background: rgb(237 223 228);
  --md-sys-color-surface: rgb(24 17 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 68 74);
  --md-sys-color-on-surface-variant: rgb(233 216 223);
  --md-sys-color-outline: rgb(189 174 181);
  --md-sys-color-outline-variant: rgb(155 140 147);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 223 228);
  --md-sys-color-inverse-on-surface: rgb(47 40 44);
  --md-sys-color-inverse-primary: rgb(107 53 91);
  --md-sys-color-primary-fixed: rgb(255 216 237);
  --md-sys-color-on-primary-fixed: rgb(40 0 32);
  --md-sys-color-primary-fixed-dim: rgb(248 177 221);
  --md-sys-color-on-primary-fixed-variant: rgb(86 36 72);
  --md-sys-color-secondary-fixed: rgb(250 218 235);
  --md-sys-color-on-secondary-fixed: rgb(29 11 23);
  --md-sys-color-secondary-fixed-dim: rgb(221 190 207);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 48 61);
  --md-sys-color-tertiary-fixed: rgb(255 219 204);
  --md-sys-color-on-tertiary-fixed: rgb(36 8 0);
  --md-sys-color-tertiary-fixed-dim: rgb(244 185 160);
  --md-sys-color-on-tertiary-fixed-variant: rgb(82 44 27);
  --md-sys-color-surface-dim: rgb(24 17 21);
  --md-sys-color-surface-bright: rgb(75 66 70);
  --md-sys-color-surface-container-lowest: rgb(11 6 9);
  --md-sys-color-surface-container-low: rgb(35 28 31);
  --md-sys-color-surface-container: rgb(45 38 42);
  --md-sys-color-surface-container-high: rgb(56 48 53);
  --md-sys-color-surface-container-highest: rgb(68 59 64);
}
