.dark-hc {
  --md-sys-color-primary: rgb(255 234 253);
  --md-sys-color-surface-tint: rgb(233 181 239);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(228 178 235);
  --md-sys-color-on-primary-container: rgb(26 0 35);
  --md-sys-color-secondary: rgb(255 234 253);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(210 188 210);
  --md-sys-color-on-secondary-container: rgb(19 7 22);
  --md-sys-color-tertiary: rgb(255 236 233);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(241 180 172);
  --md-sys-color-on-tertiary-container: rgb(30 3 2);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(23 18 23);
  --md-sys-color-on-background: rgb(234 224 231);
  --md-sys-color-surface: rgb(23 18 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(77 68 76);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(250 236 246);
  --md-sys-color-outline-variant: rgb(203 191 201);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 224 231);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(97 57 105);
  --md-sys-color-primary-fixed: rgb(253 214 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(233 181 239);
  --md-sys-color-on-primary-fixed-variant: rgb(36 0 46);
  --md-sys-color-secondary-fixed: rgb(243 219 242);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(214 192 214);
  --md-sys-color-on-secondary-fixed-variant: rgb(25 12 28);
  --md-sys-color-tertiary-fixed: rgb(255 218 214);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(245 183 176);
  --md-sys-color-on-tertiary-fixed-variant: rgb(37 7 5);
  --md-sys-color-surface-dim: rgb(23 18 23);
  --md-sys-color-surface-bright: rgb(85 78 84);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(35 30 35);
  --md-sys-color-surface-container: rgb(52 47 52);
  --md-sys-color-surface-container-high: rgb(64 58 63);
  --md-sys-color-surface-container-highest: rgb(75 69 75);
}
