.dark-mc {
  --md-sys-color-primary: rgb(193 232 163);
  --md-sys-color-surface-tint: rgb(171 210 143);
  --md-sys-color-on-primary: rgb(15 44 0);
  --md-sys-color-primary-container: rgb(119 155 94);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(211 225 196);
  --md-sys-color-on-secondary: rgb(30 41 22);
  --md-sys-color-secondary-container: rgb(136 149 123);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(181 229 229);
  --md-sys-color-on-tertiary: rgb(0 43 43);
  --md-sys-color-tertiary-container: rgb(107 153 152);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 14);
  --md-sys-color-on-background: rgb(225 228 217);
  --md-sys-color-surface: rgb(17 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 72 62);
  --md-sys-color-on-surface-variant: rgb(218 222 208);
  --md-sys-color-outline: rgb(175 180 167);
  --md-sys-color-outline-variant: rgb(141 146 134);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 217);
  --md-sys-color-inverse-on-surface: rgb(40 43 36);
  --md-sys-color-inverse-primary: rgb(48 80 28);
  --md-sys-color-primary-fixed: rgb(199 238 169);
  --md-sys-color-on-primary-fixed: rgb(5 21 0);
  --md-sys-color-primary-fixed-dim: rgb(171 210 143);
  --md-sys-color-on-primary-fixed-variant: rgb(31 61 11);
  --md-sys-color-secondary-fixed: rgb(217 231 202);
  --md-sys-color-on-secondary-fixed: rgb(10 20 4);
  --md-sys-color-secondary-fixed-dim: rgb(189 203 175);
  --md-sys-color-on-secondary-fixed-variant: rgb(46 58 37);
  --md-sys-color-tertiary-fixed: rgb(187 236 235);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 20);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 207);
  --md-sys-color-on-tertiary-fixed-variant: rgb(7 61 61);
  --md-sys-color-surface-dim: rgb(17 20 14);
  --md-sys-color-surface-bright: rgb(66 70 62);
  --md-sys-color-surface-container-lowest: rgb(6 8 4);
  --md-sys-color-surface-container-low: rgb(27 31 24);
  --md-sys-color-surface-container: rgb(38 41 34);
  --md-sys-color-surface-container-high: rgb(48 52 45);
  --md-sys-color-surface-container-highest: rgb(59 63 55);
}
